* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

html, body {
  width: 100%;
  height: 100%; }

.fixd-top1 {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999; }

.fixd-top2 {
  position: sticky;
  top: 1.76rem;
  z-index: 100; }

header {
  height: 1.76rem;
  line-height: 1.76rem;
  background: #2395ff;
  color: #fff;
  position: relative; }
  header .header-left {
    margin-left: 0.4rem; }
    header .header-left .triangle-left {
      display: inline-block;
      margin: 0.12rem;
      border-left: 0.08rem solid;
      border-bottom: 0.08rem solid;
      width: 0.36rem;
      height: 0.36rem;
      transform: rotate(45deg);
      color: #fff; }
  header h1 {
    font-size: 0.72rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -0.72rem; }

section#elm-list {
  margin-top: 1.76rem; }
  section#elm-list .nav {
    height: 1.2rem;
    line-height: 1.2rem;
    padding: 0.2rem 0;
    font-size: 0.64rem;
    border-bottom: 0.02rem solid #f4f4f4;
    background-color: #fff;
    display: flex; }
    section#elm-list .nav a {
      text-align: center;
      width: 33%;
      border-right: 0.02rem solid #f4f4f4; }
      section#elm-list .nav a .triangle-down {
        display: inline-block;
        margin: 0.12rem 0.2rem;
        width: 0;
        height: 0;
        border-left: 0.12rem solid transparent;
        border-right: 0.12rem solid transparent;
        border-top: 0.2rem solid #333; }
    section#elm-list .nav .no-border {
      border-right: none; }
  section#elm-list .list li {
    padding: 0.4rem;
    border-bottom: 0.02rem solid #f4f4f4; }
    section#elm-list .list li a {
      display: flex;
      color: #000; }
    section#elm-list .list li .img {
      height: 3.6rem; }
      section#elm-list .list li .img img {
        width: 3.6rem;
        height: 3.6rem; }
    section#elm-list .list li .content {
      flex: 1;
      height: 3.6rem;
      padding-left: 0.4rem; }
      section#elm-list .list li .content div {
        height: 1.2rem;
        line-height: 1.2rem; }
      section#elm-list .list li .content .title {
        display: flex;
        justify-content: space-between; }
        section#elm-list .list li .content .title .i-pinpai {
          color: #6f3f15;
          background-color: #fff100;
          padding: 0.04rem;
          font-size: 0.48rem;
          border-radius: 5px; }
        section#elm-list .list li .content .title .title-brand {
          font-weight: bold;
          font-size: 0.56rem; }
        section#elm-list .list li .content .title .i-tedian {
          color: #999999;
          font-size: 0.44rem;
          padding: 0.04rem;
          border: 1px solid #f4f4f4;
          border-radius: 5px; }
      section#elm-list .list li .content .sales {
        display: flex;
        justify-content: space-between;
        font-size: 0.48rem; }
        section#elm-list .list li .content .sales img {
          width: 1.6rem; }
        section#elm-list .list li .content .sales .sale-sorce {
          color: #ff6700; }
        section#elm-list .list li .content .sales .i-speed1 {
          color: #fff;
          background-color: #298eeb;
          font-size: 0.44rem;
          padding: 0.04rem;
          border: 1px solid #298eeb;
          border-radius: 5px; }
        section#elm-list .list li .content .sales .i-speed2 {
          color: #298eeb;
          background-color: #fff;
          font-size: 0.44rem;
          padding: 0.04rem;
          border: 1px solid #298eeb;
          border-radius: 5px; }
      section#elm-list .list li .content .price {
        display: flex;
        justify-content: space-between;
        font-size: 0.48rem; }
        section#elm-list .list li .content .price .i-blue {
          color: #298eeb; }

/*# sourceMappingURL=list.css.map */
